:root {
  --verde-escuro: rgb(3, 107, 82);
  --verde-claro: rgb(47, 193, 140);
  --roxo-escuro: rgb(65, 25, 127);
  --roxo-claro: rgb(137, 88, 163);
  --azul-claro: rgb(0, 213, 226);
  --azul-escuro: rgb(0, 109, 251);
  --cinza-claro: rgb(225, 229, 235);
  --cinza1: rgb(62, 66, 75);
  --cinza2: rgb(40, 42, 47);
  --cinza3: rgb(30, 31, 36);
  --cinza4: rgb(26, 27, 28);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: white;
  background-color: var(--cinza4);
}

.img-logo {
  width: 60px;
}

header {
  /* width: 100%; */
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo p {
  margin-left: 12px;
  font-size: 2.5rem;
}

.header-player {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
}
